<!DOCTYPE html>
<html>
<div>
{{#announcement}}
        <h1>{{title}}</h1>
        <h3>{{description}}</h3>
        <h5>{{nickName}} : {{dateAdded}}</h5>
    </div>
    <h1>Edit Announcement</h1>
    <div>
        <form method="post" , action="/editAnnouncement">
            <label for="title">Title</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="description">Description</label><br>
            <input type="text" id="description" name="description"><br>
            <label for="nick">Nick</label><br>
            <input type="text" id="nick" name="nick"><br><br>
            <button type="submit" name="id" value={{id}}>Edit</button>
        </form>
    </div>
    <h1>Delete Announcement</h1>
    <form method="post" , action="/deleteAnnouncement">
        <button type="submit" name="id" value={{id}}>Delete</button>
    </form>
{{/announcement}}
<h1>Similar Announcements</h1>
{{#similarAnnouncements}}
    <h1><a href="/announcement?id={{id}}">{{title}}</a></h1>
    <h2>{{description}}</h2>
    <h2>{{nickName}} : {{dateAdded}}</h2>
{{/similarAnnouncements}}
</body>
</html>